Package: system-monitoring-center
Version: 3.1.0
Architecture: all
Maintainer: Hakan Dündar <hakandundar34@gmail.com>
Installed-Size: 1331
Depends: dmidecode, hwdata, iproute2, python3 (>= 3.6), python3-tk, python3-pil, python3-pil.imagetk, python3-cairo, util-linux (>= 2.31)
Section: utils
Priority: optional
Homepage: https://github.com/hakandundar34coding/system-monitoring-center
Description: Multi-featured system monitor
 Provides information about CPU/RAM/Disk/Network/GPU performance, sensors,
 processes, users, services and system.
