Source: system-monitoring-center
Section: utils
Priority: optional
Maintainer: Hakan Dündar <hakandundar34coding@gmail.com>
Build-Depends: debhelper (>= 10), dh-python, python3-all, python3-setuptools
Standards-Version: 4.3.0
Homepage: https://github.com/hakandundar34coding/system-monitoring-center

Package: system-monitoring-center
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         bash (>=4.4),
         dmidecode,
         iproute2,
         mesa-utils,
         pci.ids | pciutils,
         usb.ids | usbutils,
         python3 (>=3.6),
         python3-cairo,
         python3-gi,
         python3-gi-cairo,
         systemd,
         util-linux (>=2.31)
Description: Provides information about system performance and usage.
 Provides information about CPU/RAM/Disk/Network/GPU performance, sensors, 
 processes, users, storage, startup programs, services, environment variables 
 and system.
