[Desktop Entry]
Name=System Monitoring Center
Name[pt_BR]=Central de Monitoramento do Sistema
Name[tr]=Sistem Gözlem Merkezi
GenericName=System Monitor
GenericName[pt_BR]=Monitor do Sistema
GenericName[tr]=Sistem Gözlemcisi
Comment=Multi-featured system monitor.
Comment[pt_BR]=Obtenha informações sobre o desempenho e utilização do sistema.
Comment[tr]=Çok özellikli sistem gözlemcisi.
Exec=system-monitoring-center
Icon=system-monitoring-center
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
Keywords=system monitor;task manager;performance;cpu;ram;swap;memory;disk;network;processes;users;startup;services;
Keywords[pt_BR]=monitor do sistema;gerenciador de tarefas;desempenho;uso de CPU;uso de ram;memória swap;uso de memória;armazenamento;uso de rede;processos;usuários;programas de inicialização;serviços;
Keywords[tr]=sistem gözlemcisi;görev yöneticisi;performans;cpu;mib;ram;takas;bellek;disk;işlemler;kullanıcılar;başlangıç;servisler;

