[Desktop Entry]
Name=System Monitoring Center
Name[de]=Systemüberwachungszentrum
Name[hu]=Rendszermegfigyelő központ
Name[pt_BR]=Central de Monitoramento do Sistema
Name[pt_PT]=Centro de Monitorização do Sistema
Name[tr]=Sistem Gözlem Merkezi
Name[ru_RU]=Центр мониторинга системы
Name[fa]=مرکز دیده بانی رایانه
GenericName=System Monitor
GenericName[de]=Systemmonitor
GenericName[hu]=Rendszerfigyelő
GenericName[pt_BR]=Monitor do Sistema
GenericName[pt_PT]=Monitor de Sistema
GenericName[tr]=Sistem Gözlemcisi
GenericName[ru_RU]=Системный монитор
GenericName[fa]=دیده بانی رایانه
Comment=Multi-featured system monitor.
Comment[de]=Multifunktioneller Systemmonitor.
Comment[hu]=Többcélú rendszerfigyelő.
Comment[pt_BR]=Obtenha informações sobre o desempenho e utilização do sistema.
Comment[pt_PT]=Monitor de Sistema multi-recursos.
Comment[tr]=Çok özellikli sistem gözlemcisi.
Comment[ru_RU]=Многофункциональный системный мониторю
Comment[fa]=اطلاعاتی درباره کارکرد و مصرف رایانه را نمایش میدهد.
Exec=system-monitoring-center
Icon=system-monitoring-center
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
Keywords=system monitor;task manager;performance;cpu;ram;swap;memory;disk;network;processes;users;services;
Keywords[de]=Systemmonitor;Taskmanager;leistung;cpu;ram;swap;speicher;festplatte;netzwerk;prozesse;benutzer;dienste;
Keywords[hu]=rendszerfigyelő;feladatkezelő;teljesítmény;cpu;ram;cserehely;memória;lemez;hálózat;folyamatok;felhasználók;szolgáltatások;
Keywords[pt_BR]=monitor do sistema;gerenciador de tarefas;desempenho;uso de CPU;uso de ram;memória swap;uso de memória;armazenamento;uso de rede;processos;usuários;serviços;
Keywords[pt_PT]=monitor de sistema;gerenciador de tarefas;desempenho;cpu;ram;memória;disco;processos;utilizadores;serviços;
Keywords[tr]=sistem gözlemcisi;görev yöneticisi;performans;cpu;mib;ram;takas;bellek;disk;işlemler;kullanıcılar;servisler;
Keywords[ru_RU]=системный монитор;менеджер задач;производительность;cpu;ram;подкачка;память;диск;сеть;процессы;пользователи;сервисы;
Keywords[fa]=دیده بانی رایانه;تسک منیجر;مرکز;کارکرد;سرعت;فرکانس;مصرف پردازنده;مصرف رم;حافظه سواپ;مصرف حافظه;حافظه;مصرف اینترنت;سرعت دانلود;fps;نسبت تصویر;فرآیند ها;کاربران;برنامه های استارت آپ;سرویس ها;سیستم عامل;
