[Desktop Entry]
Name=System Monitoring Center
Name[de]=Systemüberwachungszentrum
Name[es]=Centro de Monitoreo del Sistema
Name[fr]=Centre de surveillance du système
Name[hu]=Rendszermegfigyelő központ
Name[pt_BR]=Central de Monitoramento do Sistema
Name[pt_PT]=Centro de Monitorização do Sistema
Name[tr]=Sistem Gözlem Merkezi
Name[ru_RU]=Центр мониторинга системы
Name[fa]=مرکز دیده بانی رایانه
GenericName=System Monitor
GenericName[de]=Systemmonitor
GenericName[es]=Monitor del sistema
GenericName[fr]=Moniteur Système
GenericName[hu]=Rendszerfigyelő
GenericName[pt_BR]=Monitor do Sistema
GenericName[pt_PT]=Monitor do Sistema
GenericName[tr]=Sistem Gözlemcisi
GenericName[ru_RU]=Системный монитор
GenericName[fa]=دیده بانی رایانه
Comment=Multi-featured system monitor
Comment[de]=Multifunktioneller Systemmonitor
Comment[es]=Monitor del sistema con múltiples funciones
Comment[fr]=Moniteur système multi-fonctions
Comment[hu]=Többcélú rendszerfigyelő
Comment[pt_BR]=Obtenha informações sobre o desempenho e utilização do sistema
Comment[pt_PT]=Monitor de sistema multi-recursos
Comment[tr]=Çok özellikli sistem gözlemcisi
Comment[ru_RU]=Многофункциональный системный мониторю
Comment[fa]=اطلاعاتی درباره کارکرد و مصرف رایانه را نمایش میدهد
Keywords=system monitor;task manager;performance;cpu;ram;swap;memory;disk;network;processes;users;services;
Keywords[de]=Systemmonitor;Taskmanager;leistung;cpu;ram;swap;speicher;festplatte;netzwerk;prozesse;benutzer;dienste;
Keywords[es]=monitor del sistema;gestor de tareas;desempeño;cpu;ram;swap;disco;red;procesos;usuarios;servicios;
Keywords[fr]=moniteur système;gestionnaire de tâches;performance;cpu;ram;swap;mémoire;disque;réseau;processus;utilisateurs;services;
Keywords[hu]=rendszerfigyelő;feladatkezelő;teljesítmény;cpu;ram;cserehely;memória;lemez;hálózat;folyamatok;felhasználók;szolgáltatások;
Keywords[pt_BR]=monitor do sistema;gerenciador de tarefas;desempenho;uso de CPU;uso de ram;memória swap;uso de memória;armazenamento;uso de rede;processos;usuários;serviços;
Keywords[pt_PT]=monitor do sistema;gestor de tarefas;desempenho;cpu;ram;memória;disco;rede;processos;utilizadores;serviços;
Keywords[tr]=sistem gözlemcisi;görev yöneticisi;performans;cpu;mib;ram;takas;bellek;disk;işlemler;kullanıcılar;servisler;
Keywords[ru_RU]=системный монитор;менеджер задач;производительность;cpu;ram;подкачка;память;диск;сеть;процессы;пользователи;сервисы;
Keywords[fa]=دیده بانی رایانه;تسک منیجر;مرکز;کارکرد;سرعت;فرکانس;مصرف پردازنده;مصرف رم;حافظه سواپ;مصرف حافظه;حافظه;مصرف اینترنت;سرعت دانلود;fps;نسبت تصویر;فرآیند ها;کاربران;برنامه های استارت آپ;سرویس ها;سیستم عامل;
Exec=system-monitoring-center
Icon=system-monitoring-center
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
